<div ng-if="!is404" class="container-post">
	<aside class="item">
		<h4>Categorías</h4>
  		<div class="categorias-post">
			<ul>
				<li ng-repeat="category in data.categories | orderBy:'-count'">
					<span ng-if="current_category_id && category.id == current_category_id" ng-bind-html="category.name"></span>
					<a ng-if="!current_category_id || category.id != current_category_id" href="category/{{category.slug}}" ng-bind-html="category.name"></a> <span class="contador" ng-bind-html="category.count"></span>
				</li>
			</ul>
		</div>
	</aside>
	<div class="item cuerpo-post">
		<h1 ng-bind-html="post.title.rendered"></h1>
		<div class="datos">
			<address class="author">Autor <a rel="author" href="/author/john-doe">John Doe</a></address>
			<time datetime="{{post.date}}" title="{{post.date | date : format : timezone}}" ng-bind-html="post.date | date : format : timezone"></time>
			<div ng-repeat="tag in data.tags" class="tags"><a ng-repeat="lista in post.tags" ng-if="lista == tag.id" ng-href="{{tag.link}}">{{tag.name}}</a></div>
		</div>
		<div ng-bind-html="post.content.rendered"></div>
	</div>
</div>
<div ng-if="is404">
	<h1>Página no encontrada</h1>
	<p>{{errorMessage}}</p>
</div>